{"web":{"client_id":"649604079913-3qfammlsuhmb8f3876o1fi0seb4l3ici.apps.googleusercontent.com","project_id":"beytours-440108","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"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","redirect_uris":["http://localhost:8001/oauth2callback"]}}