{% extends "base.html" %}

{% block title %}Nueva Rooming List - Mi Aplicación{% endblock %}

{% block content %}
<div class="container">
    <h1>Cargar Nueva Rooming List</h1>
    {% if mensaje %}
        <div class="alert alert-success">{{ mensaje }}</div>
    {% endif %}
    <form action="/nueva_rooming_list" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="roomingListFile">Seleccione el archivo de Rooming List</label>
            <input type="file" class="form-control-file" id="roomingListFile" name="rooming_list">
        </div>
        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
</div>
{% endblock %}
