@use 'variables';

// Estilos para el encabezado
#encabezado {
  background-color: variables.$primary-color !important; // Color de fondo personalizado para el encabezado
  margin-top: 0px; // Sin margen superior
  padding: 1px 3px 1px 5px; // Espaciado interno del encabezado
  border: 1px solid transparent; // Borde transparente
}

#encabezado .fa-bell {
  color: variables.$text-color !important;
}


// Color para los iconos del encabezado
.ml-auto .nav-link {
  color: variables.$text-color;
}

// Estilos para el botón de búsqueda en el encabezado
#searchToggle {
  color: variables.$text-color !important;
}

// Estilos para el formulario de búsqueda (oculto por defecto)
#searchForm {
  display: none; // Oculto inicialmente
}

