$primary-color: #214177;  
$primary-color-dark: #1a335e;
$secondary-color: #e9ecef;
$text-color: white;
$text-color-dark: black;
$header-height: 70px;
$sidebar-width-collapsed: 60px;
$sidebar-width-expanded: 150px;
$transition-duration: 0.2s;