// Archivo: _buttons.scss

@use 'variables';

// Estilos para los botones personalizados
.btn-custom {
    background-color: variables.$primary-color; // Color de fondo del botón
    color: variables.$text-color; // Color del texto
    border: none; // Sin borde
}

.btn-custom:hover {
    background-color: variables.$primary-color-dark; // Un tono más oscuro al pasar el cursor
    color: variables.$text-color; // Aseguramos que el texto siga siendo blanco
}

// Estilos para los botones secundarios (opcional)
.btn-secondary {
    background-color: #6c757d;
    color: variables.$text-color;
}