// Archivo: _tables.scss

@use 'variables';

// Estilos para el encabezado de la tabla
.thead-custom {
    background-color: #BDD8F1; // Color personalizado para el encabezado de las columnas
}

.thead-custom th {
    border-bottom: 1px solid #dee2e6; // Línea divisoria entre el encabezado y los datos
}

// Estilo para las filas al pasar el cursor
.table-hover tbody tr:hover {
    background-color: #f2f2f2;
}

// Ajustes para las celdas de la tabla
.table td,
.table th {
    vertical-align: middle; // Centrar verticalmente el contenido
    text-align: center; // Centrar horizontalmente el contenido
}
//background-color:#BDD8F1;

.table-responsive {
    vertical-align: middle; // Centrar verticalmente el contenido
    text-align: center; // Centrar horizontalmente el contenido
    background-color:#BDD8F1;
}

.table td,
.table th a {
    color: variables.$text-color-dark; // Color del texto
    text-decoration: none; // Sin subrayado
}

.table thead th a:hover {
    color: variables.$primary-color; // Color al pasar el cursor
    text-decoration: underline; // Subrayado al pasar el cursor
}