// Archivo: _variables.scss

// Colores
$primary-color: #214177; // Color principal utilizado en el proyecto
$primary-color-dark: #1a335e; // Tono más oscuro del color principal
$secondary-color: #e9ecef; // Color secundario para fondos y hover
$text-color: white; // Color del texto en elementos oscuros
$text-color-dark: black; // Color del texto en fondos claros

// Espaciados
$header-height: 70px; // Altura del encabezado
$sidebar-width-collapsed: 60px; // Ancho del menú lateral contraído
$sidebar-width-expanded: 150px; // Ancho del menú lateral expandido

// Otros
$transition-duration: 0.2s; // Duración de las transiciones